.admin {
  display: flex;
  justify-content: flex-end;
}

.input-row {
  background: gray;
  min-width: 50%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input[type='color'] {
  width: 5rem;
  height: 5rem;
}