footer {
  height: var(--footer-height);
  background-color: var(--header-bg-color);
  color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  font-size: 0.8rem;
  z-index: 1;
}

footer a {
  color: #ffffff33;
  margin-right: 0.75rem;
}