footer {
  height: var(--footer-height);
  background-color: var(--header-bg-color);
  color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  padding: 0 var(--header-padding-vert);
  font-size: 0.8rem;
}