.hamburger {
  width: var(--hamburger-size);
  min-width: var(--hamburger-size);
  height: var(--hamburger-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(99, 57, 128);
  pointer-events: all;
}

.hamburger-bar-container {
  width: 65%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-bar {
  background-color: bisque;
  height: 20%;
}

.hamburger.open .hamburger-bar {
  background-color: red;
}