.hamburger {
  position: absolute;
  top: calc((var(--header-height) - var(--hamburger-size)) / 2);
  left: calc((var(--header-height) - var(--hamburger-size)) / 2);
  width: var(--hamburger-size);
  min-width: var(--hamburger-size);
  height: var(--hamburger-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hamburger-color);
  border-radius: var(--hamburger-roundness);
  pointer-events: all;
  opacity: 0.75;
  transition: background-color var(--hamburger-animation-duration) ease;
}

.hamburger.open {
  background-color: var(--hamburger-on-color);
}

.hamburger-bar-container {
  width: 65%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: visible;
}

.hamburger-bar {
  background-color: var(--hamburger-line-color);
  border-radius: calc(var(--hamburger-size) / 20);
  height: var(--hamburger-line-thickness);
  transition: transform var(--hamburger-animation-duration) ease;
}

.hamburger.open .hamburger-bar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hamburger-bar:not(:nth-child(2)) {
  transform-origin: left;
}

.hamburger.open .hamburger-bar:first-child {
  transform: translateX(calc(var(--hamburger-size) / 20)) translateY(calc(var(--hamburger-size) * 0.26)) rotate(-45deg) scaleX(50%);
}

.hamburger.open .hamburger-bar:nth-child(2) {
  transform: scaleX(85%);
}

.hamburger.open .hamburger-bar:last-child {
  transform: translateX(calc(var(--hamburger-size) / 20)) translateY(calc(var(--hamburger-size) * -0.26)) rotate(45deg) scaleX(50%);
}