header {
  width: 100dvw;
  height: var(--header-height);
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--header-padding-vert) var(--header-padding-horiz);
  padding-right: calc(var(--header-padding-horiz) * 2);
  gap: calc(var(--header-height) * 0.1);
  z-index: 1;
}

header > h1.header-legend {
  font-size: calc(var(--header-height) * 0.4);
  font-weight: bold;
  font-family: var(--title-font);
}

header > .header-description {
  font-size: calc(var(--header-height) * 0.225);
  opacity: 0.75;
  flex-grow: 1;
  text-align: right;
}