header {
  width: 100dvw;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--header-padding-vert) var(--header-padding-horiz);
  gap: calc(var(--header-height) * 0.1);
  z-index: 1;
}

.header-image {
  height: var(--logo-size);
  fill: var(--logo-color);
}