nav.nav-area {
  position: fixed;
  left: 0;
  width: max-content;
  height: calc(var(--actual-height) - var(--header-height) - var(--footer-height));
  background-color: var(--nav-area-bg-color);
  font-family: var(--nav-area-font);
  font-size: var(--nav-area-font-size);
  color: var(--nav-area-font-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: var(--main-padding-vert) calc(var(--main-padding-horiz) * 2); */
  padding: var(--nav-padding-vert) var(--nav-padding-horiz);
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
  text-shadow: var(--nav-text-shadow);
  transition: transform 300ms ease, opacity 300ms ease;
}

nav.nav-area:not(.visible) {
  transform: translateX(-100%);
  opacity: 0;
}

nav a {
  margin: 1rem;
}