a.nav-item {
  max-width: 10rem;
  font-weight: bold;
  color: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  margin: 0.5rem 0;
  opacity: 0;
  overflow: visible;
  transform: translateX(25%);
  transition: transform 200ms ease, opacity 200ms ease;
}

a.nav-item.revealed {
  opacity: 1;
  transform: none;
}

.nav-item.highlighted {
  color:var(--text-accent-color);
}