.site-section {
  min-height: 100%;
  padding: var(--main-padding-vert) var(--main-padding-horiz);
  background-color: var(--main-bg-color);
  max-width: 100%;
}


h1 {
  font-size: var(--section-heading-font-size);
  color: var(--section-heading-color);
  padding: 0 0.5rem;
}

.section-intro {
  padding: 0 0.5rem;
  margin: 2rem 0;
}

.gallery-display {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.gallery-tile {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(52, 22, 27);
  border-radius: 0.5rem;
  transition: all 200ms ease;
}

.gallery-thumbnail {
  flex-grow: 1;
  max-width: 50%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 0.1rem;
}

.gallery-tile-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

.two-column {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  opacity: 0.5;
}