main {
  display: flex;
  background-color: rgba(255, 255, 255, 0.704);
  width: 100vw;
  min-height: calc(var(--actual-height) - var(--header-height) - var(--footer-height));
}

.site-section {
  min-height: 100%;
  padding: var(--main-padding-vert) var(--main-padding-horiz);
  background-color: var(--main-bg-color);
}

.horizontal-curve {
  width: 100dvw;
  height: var(--footer-height);
  position: absolute;
  background-color: var(--header-bg-color);
}