:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 3.5rem;
  --footer-height: 1.75rem;
  --hamburger-size: calc(var(--header-height) * 0.85);
  --main-bg-color: #5f7067;
  --main-font-color: #dfdfbc;
  --nav-area-bg-color: rgb(72, 78, 82);
  --nav-area-font: "Helvetica";
  --nav-area-font-color: beige;
  --nav-area-font-size: 1rem;
  --title-font: "Times New Roman";
  --main-padding-vert: 1rem;
  --main-padding-horiz: 1rem;
  --header-padding-vert: 1rem;
  --header-padding-horiz: 0.325rem;
}

*, * *, * * *, * * * *, * * * * * {
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  pointer-events: none;
}

body {
  min-width: 320px;
  max-width: 100dvw;
  color: var(--main-font-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: red;
  height: 100dvh;
}