:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --actual-height: 100dvh;

  /* --header-height: 4rem;
  --footer-height: 1.75rem;
  --hamburger-size: 3.5rem;
  --main-bg-color: #6f705f;
  --main-bg-color: red;
  --header-bg-color: #3f3f2f;
  --main-font-color: rgba(255, 255, 255, 0.87);;
  --nav-area-bg-color: rgb(127, 132, 114);
  --text-accent-color: yellow;
  --title-font: "Helvetica";
  --nav-area-font: "Helvetica";
  --nav-area-font-color: beige;
  --nav-area-font-size: 1rem;
  --main-padding-vert: 1rem;
  --main-padding-horiz: 1rem;
  --header-padding-vert: 1rem;
  --header-padding-horiz: 0.325rem;
  --nav-text-shadow: 0.1rem 0.05rem 0.25rem rgb(0, 0, 0, 0.5);
  --hamburger-animation-duration: 200ms; */
}

* {
  box-sizing: border-box;
  overscroll-behavior: none;
  pointer-events: none;
  overflow: hidden;
}

body {
  min-width: 320px;
  max-width: 100dvw;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  opacity: 0;
  filter: saturate(0);
}

body.revealed {
  transition: opacity 800ms ease, filter 1200ms ease;
  opacity: 1;
  filter: none;
}

h1 {
  line-height: 1.1;
  font-size: calc(var(--header-height) / 2);
  font-weight: bold;
  font-family: var(--title-font);
  margin: 0;
  margin-bottom: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

a,
button,
input {
  pointer-events: all;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

a:focus,
button:focus {
  color: var(--text-accent-color) !important;
}

@media (min-width: 728px) and (orientation: landscape) {

  nav.nav-area {
    position: static;
    box-shadow: none;
    background-color: var(--main-bg-color);
    transform: 0 !important;
  }

  .hamburger {
    display: none;
  }

}